body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.main-a {
color: black;
text-decoration: none;
}

.sticky-link-home {

background: rgba(193, 225, 253, 0.5);
bottom: 0;
}


.sticky-home {
font-size: 20px;
font-weight: 100;
padding: 10px;
margin: 0;
text-align: left;
float: left;
margin-left: 25px;
}

.sticky-link-home {
height: 50px;
}

.sticky-links {
float: right;
}

.sticky-ul {
list-style: none;
text-align: right;
display: flex;
margin-right: 35px;
}

.sticky-li {
padding-left: 10px;
}

.banner {
font-size: 85px;
font-weight: 100;
margin: 0;
padding: 130px 0px 0px 0px;
text-shadow: black 0px 1px 20px;
}

.banner-p {
text-shadow: black 1px 1px 10px;
}

.body-title {
height: 400px;
background: url("../img/banner.JPG");
text-align: center;
background-size: cover;
background-repeat: no-repeat;
color: rgb(255, 255, 255);
background-position-y: -315px;
}

.day-a {
text-decoration: none;
color: black;
font-size: 20px;
}

.list {
text-align: center;
}

.day-ul {
list-style: none;
}

.day2-img {
width: 100%;
visibility: hidden;
position: fixed;
}


.day2-title {
text-align: center;
color: rgb(68, 68, 68);
}

.day2-h1 {
margin-top: 0;
font-size: 100px;
width: 290px;
margin: 0 auto;
}






.day2-grid {
width: 940px;
margin: 0 auto;
}

.grid {
background: red;
width: 235px;
height: 235px;
float: left;
margin: 0px;
}

.grid1 {
background: lime;
}

.grid2 {
background: rgb(3, 173, 3);
}

.grid3 {
background: rgb(81, 199, 81);
}

.grid4 {
background: rgb(47, 182, 47);
}

.grid5 {
background: rgb(122, 211, 122);
}

.grid6 {
background: rgb(43, 113, 43);
}

.grid7 {
background: rgb(64, 218, 64);
}

.grid8 {
background: rgb(133, 245, 133);
}

.grid9 {
background: rgb(151, 242, 151);
}

.grid10 {
background: rgb(67, 157, 52);
}

.grid11 {
background: rgb(101, 190, 77);
}

.grid.grid12 {
background: green;
}

.grid13 {
background: rgb(24, 142, 70);
}

.grid14 {
background: rgb(139, 234, 84);
}

.grid15 {
background: rgb(68, 134, 45);
}

.grid16 {
background: rgb(58, 186, 74);
}

.grid:hover {
-webkit-transition: background .5s;
transition: background .5s;
-ms-transform: rotate(7deg);
-webkit-transform: rotate(7deg);
transform: rotate(180deg);
opacity: .6;
}



















