
html { overflow-y: scroll; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

::selection { background: #dae3eb; color: #333; }
::-moz-selection { background: #dae3eb; color: #333; }
::-webkit-selection { background: #dae3eb; color: #333; }

br { display: block; line-height: 1.6em; } 


blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

h1 {
font-family: 'Open Sans', sans-serif;
color: #96ACCF;
font-size: 4.7em;
line-height: 1.6em;
margin-bottom: 8px;
width: 770px;
margin: 0 auto;
text-align: center;
}

h1 span {
  color: #73aded;
}

h3 {
  display: block;
  width: 770px;
  margin: 0 auto;
  font-size: 0.6em;
  line-height: 1.0em;
  margin-bottom: 18px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3em;
  color: #ccc;
  text-align: center;
}


/* page structure */
#w {
  width: 770px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

#content {
padding: 8px 15px;
padding-bottom: 20px;
background: #FAD5D5;
}

.options {
display: block;
text-align: right;
font-size: 12px;
line-height: 16px;
font-weight: bold;
color: #8B8B8B;
margin-bottom: 8px;
float: right;
}

.options .sorticon {
  position: relative;
  top: 3px;
}

.options .sorticon img {
  opacity: 0.6;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.options .sorticon img:hover {
  opacity: 1.0;
}
.options .sorticon.active img {
  opacity: 1.0;
}



/* list styles */
#listdisplay { 
  display: block;
}

#listdisplay li {
display: block;
width: 100%;
padding-bottom: 10px;
border-bottom: 1px solid #aaa;
padding-left: 0;
}

#listdisplay li a img {
display: block;
float: left;
padding: 5px;
border: 2px solid #bbb;
background: #fff;
margin-right: 20px;
width: 260px;
}

#listdisplay li .innercontent h2 {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 30px;
line-height: 1.35em;
margin-bottom: 4px;
color: #6B91BB;
font-weight: bold;
margin-top: 20px;
padding-top: 20px;
}

#listdisplay.thumbview li {
  display: block;
  width: 360px;
  float: left;
  margin-bottom: 7px;
  border: 0;
}
#listdisplay.thumbview li a img {
  display: block;
  float: none;
  margin: 0 auto;
  margin-bottom: 4px;
}
#listdisplay.thumbview li .innercontent {
  display: block;
  text-align: center;
}
#listdisplay.thumbview li .innercontent h2 {
font-size: 30px;
}
#listdisplay.thumbview li .innercontent p {
  display: none;
}

#listdisplay {
padding-left: 10px;
padding-right: 10px;
}

/* clearfix */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

p {
font-size: 1.4em;
line-height: 1.2em;
margin-bottom: 10px;
color: #325E79;
font-size: 14px;
}

.instructions {
display: block;
text-align: left;
font-size: 12px;
line-height: 16px;
font-weight: bold;
color: #8B8B8B;
margin-bottom: 8px;
}

.main-a {
color: black;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
letter-spacing: normal;
}

.sticky-link-home {

background: rgba(193, 225, 253, 0.5);
bottom: 0;
}


.sticky-home {
font-size: 20px;
font-weight: 100;
padding: 10px;
margin: 0;
text-align: left;
float: left;
margin-left: 25px;
line-height: normal;
}

.sticky-link-home {
height: 50px;
background: rgba(193, 225, 253, 0.5);
bottom: 0;
}


.sticky-links {
float: right;
}

.sticky-ul {
list-style: none;
text-align: right;
display: flex;
margin-right: 35px;
}

.sticky-li {
font-weight: 100;
padding-left: 10px;
margin: 0;
}

.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }


@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

  .fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
            transform: translate3d(2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
}

.arrow-right {
margin-left: 88%;
opacity: .3;
border-radius: 50%;
}

.arrow-left {
margin-right: 88%;
opacity: .3;
border-radius: 50%;
}